@use '../../styles/_var' as var;

.container {
  position: relative;
  max-width: 1920px;
  background: var.$bg-primary-gradient;
  margin: 0 auto;
  padding: 60px clamp(4rem, 20vw - 14rem, 10rem) clamp(7.75rem, 3.542vw + 4.563rem, 8.813rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var.$gray;
}

.title {
  padding-bottom: 20px;
  text-align: center;
  font-family: var.$font-montserrat;
  font-size: clamp(3rem, 1.458vw + 1.688rem, 3.438rem);
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title_mobile{
  display: none;
  text-align: center;
  font-family: var.$font-montserrat;
  font-size: clamp(3rem, 1.458vw + 1.688rem, 3.438rem);
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}


.line {
  margin-bottom: 10px;
  width: 100%;
  border: none;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(246, 243, 243, 0),
    rgb(239, 212, 142, 0.75),
    rgba(247, 240, 240, 0)
  );
}

.subtitle {
  text-align: center;
  font-family: var.$font-montserrat;
  font-weight: 400;
  font-size: clamp(2.25rem, 2.083vw + 0.375rem, 2.875rem);
  line-height: 100%;
  letter-spacing: 0.1em;
}

.cards {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 22px;
  color: var.$black;
  grid-template-rows: clamp(38.75rem, 14.856rem + 27.31vw, 47.625rem);
}

.card_left {
  padding: clamp(12.063rem, 8.697rem + 3.85vw, 13.313rem)
  clamp(3.75rem, -2.981rem + 7.69vw, 6.25rem);
  // max-width: 789px;
  // padding: 311px 100px;
  border-radius: 12px 12px 128px 128px;
  background-image: url('/images/Investors/background.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.card_right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 23px;

  .card {
    // padding: 104px 20px 0 40px;
    padding: 67px 40px 0;
    background-color: var.$cold-yellow;
    &:first-child,
    &:nth-child(2) {
      border-radius: 12px;
    }
    &:nth-child(3) {
      border-radius: 12px 12px 12px 128px;
    }

    &:nth-child(4) {
      border-radius: 12px 12px 128px 12px;
    }
  }
}

.card_text {
  font-family: var.$font-montserrat;
  font-weight: 400;
  font-size: clamp(1.75rem, 2.5vw - 0.5rem, 2.5rem);
  line-height: 140%;
  line-height: 140%;
}

.flare {
  position: absolute;
  height: 140px;
  width: clamp(7.75rem, 3.333vw + 4.75rem, 8.75rem);
  bottom: 208px;
  background:
    linear-gradient(to bottom right, #fff 0%, #000 50%) bottom right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #fff 0%, #000 50%) bottom left / 50% 50% no-repeat,
    linear-gradient(to top left, #fff 0%, #000 50%) top left / 50% 50% no-repeat,
    linear-gradient(to top right, #fff 0%, #000 50%) top right / 50% 50% no-repeat;
  mix-blend-mode: color-dodge;
  transform: matrix(-1, 0, 0, -1, 0, 0);
}
.flare2 {
  display: none;
}

.buttons {
  padding-top: 60px;
  display: flex;
  gap: 24px;
  & > a {
    width: clamp(40rem, 30.833vw + 12.25rem, 49.25rem);
    height: clamp(3.375rem, 2.917vw + 0.75rem, 4.25rem);
    padding: 19px 16px;
  }
}
@media (max-width: 1440px) {
  .container {
    padding: 60px clamp(1.25rem, -1.824rem + 6.47vw, 4rem)
      clamp(3.75rem, -0.721rem + 9.41vw, 7.75rem);
  }
  .cards {
    max-width: 1312px;
    width: 100%;
    padding-top: 48px;
  }
  .title {
    font-size: 48px;
    line-height: 57.6px;
  }
  .subtitle {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 0px;
  }

  .buttons {
    max-width: 1312px;
    width: 100%;
    & > a {
      width: clamp(36.875rem, 33.382rem + 7.35vw, 40rem);
      height: clamp(3.375rem, 2.397rem + 2.06vw, 4.25rem);
      padding: 19px 16px;
    }
  }
  .card_right {
    grid-gap: 10px;
    .card {
      padding: 74px 20px 0px 40px;

      .card_text {
        font-size: clamp(1.375rem, 0.956rem + 0.88vw, 1.75rem);
        line-height: 39.2px;
        letter-spacing: 0.1em;
      }
    }
  }

  .flare {
    width: clamp(6.563rem, 5.152rem + 2.97vw, 7.75rem);
    height: clamp(6.25rem, 4.914rem + 2.81vw, 7.375rem);
    bottom: 190px;
  }
}

@media (max-width: 1200px) {
  .card_left {
    padding: 60px;
    display: flex;
    align-items: center;
    text-align: left;
    z-index: 99;
  }
  .flare {
    top: 870px;
    z-index: 2;
  }
  .card_right {
    z-index: 100;
  }
}

@media (max-width: 1100px) {
  .cards {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }
  .card_left {
    height: 620px;
  }
  .card_right {
    height: 620px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 590px;
  }
  .container {
    padding-bottom: 60px;
  }
  .title {
    font-size: clamp(2rem, -0.235rem + 4.71vw, 3rem);
    line-height: 38.4px;
  }
  .subtitle {
    font-size: clamp(1.75rem, 0.632rem + 2.35vw, 2.25rem);
  }
}
@media (max-width: 760px) {
  .container {
    padding: clamp(2.5rem, 1.182rem + 5.41vw, 3.75rem) 20px;
  }
  .cards {
    grid-gap: 0px;
    padding: 0px;
    margin-top: 40px;
  }
  .card_right {
    height: clamp(15.375rem, -9.264rem + 101.08vw, 38.75rem);
    grid-gap: clamp(0.375rem, 0.111rem + 1.08vw, 0.625rem);
    .card {
      display: flex;

      .card_text {
        font-size: clamp(1rem, 0.605rem + 1.62vw, 1.375rem);
        line-height: 21px;
        align-items: center;
        letter-spacing: 0.1em;
      }
    }
    .card:nth-child(1) {
      padding: clamp(0.938rem, -5.848rem + 27.84vw, 7.375rem)
        clamp(1.625rem, -0.615rem + 9.19vw, 3.75rem) 0px
        clamp(1.25rem, -1.385rem + 10.81vw, 3.75rem);
    }

    .card:nth-child(2) {
      padding: clamp(0.938rem, -5.848rem + 27.84vw, 7.375rem)
        clamp(1.875rem, -0.101rem + 8.11vw, 3.75rem) 0px
        clamp(1.25rem, -1.385rem + 10.81vw, 3.75rem);
    }
    .card:nth-child(3) {
      padding: clamp(0.313rem, -7.132rem + 30.54vw, 7.375rem)
        clamp(0.938rem, -2.027rem + 12.16vw, 3.75rem) 0px
        clamp(1.875rem, -0.101rem + 8.11vw, 3.75rem);
    }
    .card:nth-child(4) {
      padding: clamp(0.938rem, -5.848rem + 27.84vw, 7.375rem)
        clamp(0.938rem, -2.027rem + 12.16vw, 3.75rem) 0px
        clamp(1.25rem, -1.385rem + 10.81vw, 3.75rem);
    }
  }
  .card_left {
    height: clamp(20.563rem, 1.392rem + 78.65vw, 38.75rem);
    padding: clamp(1.25rem, -1.385rem + 10.81vw, 3.75rem);
    .card_text {
      font-size: clamp(1.125rem, 0.861rem + 1.08vw, 1.375rem);
      line-height: 39.2px;
      letter-spacing: 0.1em;
    }
  }

  .buttons {
    padding-top: 40px;
    & > a {
      width: clamp(21.875rem, 6.064rem + 64.86vw, 36.875rem);
    }
  }

  .title {
    font-size: clamp(1.625rem, 1.23rem + 1.62vw, 2rem);
  }
  .subtitle {
    font-size: clamp(1.375rem, 0.98rem + 1.62vw, 1.75rem);
    padding-bottom: 0px;
  }
  

  .flare2 {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    height: clamp(2.5rem, 1.841rem + 2.7vw, 3.125rem);
    width: 79px;
    background:
      linear-gradient(to bottom right, #fff 0%, #000 50%) bottom right / 50% 50% no-repeat,
      linear-gradient(to bottom left, #fff 0%, #000 50%) bottom left / 50% 50% no-repeat,
      linear-gradient(to top left, #fff 0%, #000 50%) top left / 50% 50% no-repeat,
      linear-gradient(to top right, #fff 0%, #000 50%) top right / 50% 50% no-repeat;
    mix-blend-mode: color-dodge;
    transform: matrix(-1, 0, 0, -1, 0, 0);
  }
  .flare {
    display: none;
  }
}

@media (max-width: 460px) {
  .card_left {
    .card_text {
      text-align: center;
      letter-spacing: 1px;
    }
  }
}
@media (max-width: 440px) {
  .card_right {
    .card_text {
      line-height: 18px;
    }
  }
  .card_left {
    .card_text {
      text-align: center;
      line-height: 18px;
      letter-spacing: 0.1em;
    }
  }
   .title{
    display: none;
  }
  .title_mobile{
    display: block;
    font-size: 26.808px;
  }
}

@media (max-width: 390px) {
  .container {
    padding: 40px 20px;
  }
 
  .title_mobile{
    // display: block;
    font-size: 26px;
    line-height: 31.2px;
  }
  .subtitle {
    font-size: 22px;
    
  }

  .card_left {
    height: 329px;
    padding: 20px;
    .card_text {
      font-size: 18px;
    }
  }

  .card_right {
    grid-gap: 6px;
    height: 246px;
    .card {
      padding: 8px 20px 0px 40px;
    }

    .card_text {
      font-size: 16px;
      line-height: 19px;
    }
  }
  .flare2 {
    height: 40px;
  }
}
