@use "../../styles/_var" as var;

.main {
    background: url("../../../public/images/Contact/Form(1).png") center/cover no-repeat;
    background-color: var.$black;
    height: 749px;
    padding-left: 160px;
    padding-top: 218px;

    @media (max-width: 390px) {
        .main {
            padding: 10% 6% 10% 6%;
        }
    }

    .title {
        text-transform: uppercase;
    }

    @media screen and (max-width: 1440px) {
        height: 740px;
        padding-left: 100px;
        padding-top: 285px;
        background: url("../../../public/images/Contact/Form(1440).png") center/cover no-repeat;
        background-color: var.$violet;
    }

    @media screen and (max-width: 1000px) {
        padding-left: Clamp(50px, 4vw, 100px);
    }

    @media screen and (max-width: 767px) {
        height: 582px;
        padding: 0;
        // padding-top: 100px;
        // top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../../../public/images/Contact/Form(760).png") center/cover no-repeat;
        background-color: var.$violet;
    }

    @media (max-width: 390px) {
        .title {
            padding-bottom: 10px;
            font-size: 26px;
        }
    }
}

.container {
    max-width: 936px;

    @media screen and (max-width: 1440px) {
        max-width: 869px;
        margin-left: -10px;
    }

    @media screen and (max-width: 767px) {
        max-width: 715px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 745px) {
        max-width: clamp(321px, 90vw, 700px);
    }
}

.title {
    font-family: var.$font-montserrat;
    font-weight: 400;
    color: rgba(210, 205, 216, 1);
    padding-bottom: 14px;
    letter-spacing: 3px;

    @media screen and (min-width: 1920px) {
        text-transform: uppercase;
    }

    @media screen and (max-width: 1920px) {
        font-size: 28px;
        padding-bottom: 13px;
    }

    @media screen and (max-width: 767px) {
        font-size: clamp(18px, 4vw, 28px);
    }
}

.subtitle {
    font-family: var.$font-montserrat;
    color: var.$gray;
    font-size: 20px;
    padding-bottom: 60px;

    @media screen and (max-width: 1440px) {
        font-size: 18px;
        padding-bottom: 30px;
    }

    @media screen and (max-width: 767px) {
        font-size: clamp(14px, 4vw, 16px);
        letter-spacing: 0.27px;
        padding-bottom: 26px;
    }
}

.form {
    display: flex;
    gap: 51px;

    @media screen and (max-width: 1440px) {
        gap: 15px;
    }
}

.formMobile {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textarea {
    padding: 16px 7px;
    border-radius: 12px;
    font-family: var.$font-montserrat;
    font-size: 14px;
    background-color: var.$gray;
    color: rgba(143, 131, 157, 1);
    border: none;
    outline: none;
}

.input {
    width: 570px;
    height: 58px;
    padding-left: 10px;
    border-radius: 12px;
    font-family: var.$font-montserrat;
    font-size: 14px;
    background-color: var.$gray;
    color: rgba(143, 131, 157, 1);
    border: none;
    outline: none;
    padding-right: 1%;

    @media screen and (max-width: 1440px) {
        width: 516px;
    }

    @media screen and (max-width: 767px) {
        width: 404px;
    }

    @media (max-width: 390px) {
        width: 100%;
        padding: 16px 7px;
        height: 100%;
    }
}

.button {
    font-weight: 500;
    border-radius: 12px;
    width: 284px;
    margin-right: 15px;
    font-family: var.$font-jura;
    letter-spacing: 3px;
    font-size: 25px;
    background-color: var.$gray;
    color: var.$dark-purple;
    cursor: pointer;
    border: none;

    @media screen and (max-width: 1440px) {
        width: 335px;
        font-size: 20px;
    }

    @media screen and (max-width: 767px) {
        width: 236px;
        font-size: Clamp(16px, 4vw, 25px);
    }
}

.buttonMobile {
    padding: 17px 0;
}

.container_agree {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: var.$font-montserrat;
    font-size: 14px;
}

.checkbox_agree {
    position: relative;
    margin-right: 20px;
    background: var.$gray;
    cursor: pointer;
    &:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: var.$gray;
        position: absolute;
        opacity: 1;
        border-radius: 4px;
    }
    &:checked::after {
        content: "";
        display: block;
        width: 3px;
        height: 7px;
        border: solid rgb(0, 0, 0);
        border-width: 0 2px 1px 0;
        transform: rotate(45deg);
        position: absolute;
        top: 3px;
        left: 5.5px;
    }
}

.text_agree {
    color: var.$white;
}
