@use '../../styles/_var' as var;

.footer {
  background: var.$bg-primary-gradient;
  padding: 80px 80px 99px 80px;
}

.container {
  display: flex;
  gap: 62px;
  justify-content: space-between;
  padding-bottom: 114px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 59px;
  margin-right: 158px;
  flex-grow: 1;
}

.socials {
  display: flex;
  justify-content: space-between;
  margin-right: 223px;
}

.title {
  color: var.$gray;
  font-family: var.$font-montserrat;
  font-size: 40px;
  font-weight: 400;
  line-height: 140%;
}

.socials__wrapper {
  display: flex;
  gap: 16px;
}

.socials__link {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-size: cover;
}

.socials__icon_1 {
  background-image: url(/images/Footer/facebook.svg);
}

.socials__icon_2 {
  background-image: url(/images/Footer/instagram.svg);
}

.socials__icon_3 {
  background-image: url(/images/Footer/telegram.svg);
}

.socials__icon_4 {
  background-image: url(/images/Footer/linkedin.svg);
}

.socials__icon_5 {
  background-image: url(/images/Footer/twitter.svg);
}

.socials__icon_6 {
  background-image: url(/images/Footer/youtube.svg);
  width: 50px;
}

.info {
  display: flex;
  gap: 113px;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 362px;
}

.phone {
  color: var.$gray;
  font-family: var.$font-michroma;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  gap: 18px;
  text-decoration: none;
  &::before {
    content: url('/images/Footer/phone.svg');
    width: 32px;
    height: 32px;
  }
}

.email {
  color: var.$gray;
  font-family: var.$font-michroma;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  gap: 18px;
  text-decoration: none;
  &::before {
    content: url('/images/Footer/email.svg');
    width: 32px;
    height: 32px;
  }
}

.address {
  color: var.$gray;
  font-family: var.$font-montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  gap: 18px;
  max-width: 300px;
  text-decoration: none;
  &::before {
    content: url('/images/Footer/address.svg');
    width: 32px;
    height: 32px;
  }
}

.nav {
  display: flex;
  gap: 150px;
}
.nav_mobile {
  display: none;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link {
  color: var.$white;
  font-family: var.$font-montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
}

.line {
  width: 100%;
  border: none;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(246, 243, 243, 0),
    rgb(239, 212, 142, 0.75),
    rgba(247, 240, 240, 0)
  );
}
.text {
  padding-top: 34px;
  color: var.$gray;
  font-family: var.$font-montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.logo {
  display: none;
}
.socials__wrapper_mobile {
  display: none;
}

@media (max-width: 1440px) {
  .footer {
    padding: 44px 66px 110px;
  }
  .container {
    padding-bottom: 35px;
  }
  .logo_big {
    display: none;
  }
  .logo {
    width: clamp(8.125rem, 3.863vw + 6.273rem, 9.75rem);
    height: clamp(7.5rem, 3.863vw + 5.648rem, 9.125rem);
    display: block;
    position: relative;
    top: -35px;
  }
  .socials {
    align-items: center;
  }

  .title {
    display: flex;
    align-items: center;
    font-size: clamp(1.75rem, 1.189vw + 1.18rem, 2.25rem);
    line-height: 100%;
    letter-spacing: 0.1em;
  }
  .content {
    gap: 63px;
    margin-right: 0;
  }
  .info {
    gap: 0;
    justify-content: flex-start;
  }
  .nav {
    gap: clamp(5rem, 10.401vw + 0.014rem, 9.375rem);
  }
  .contacts {
    gap: 18px;
    padding-right: clamp(2.5rem, 10.698vw - 2.629rem, 7rem);
    max-width: 100%;
  }
  .link {
    font-size: clamp(1rem, 0.594vw + 0.715rem, 1.25rem);
    line-height: 28px;
  }
  .text {
    padding-top: 20px;
    font-size: 14px;
    line-height: 19.6px;
  }
}

@media (max-width: 1200px) {
  .socials {
    margin-right: 0;
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 62px 78px 30px;
  }
  .container {
    gap: 24px;
    padding-bottom: 0;
  }
  .info {
    flex-direction: column;
  }
  .title {
    font-size: 28px;
    line-height: 130%;
  }
  .socials__wrapper {
    display: none;
  }
  .contacts {
    padding-bottom: 0;
  }
  .content {
    gap: 30px;
  }

  .socials__wrapper_mobile {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 48px 0 30px;
  }

  .address {
    font-size: 20px;
    line-height: 32px;
    max-width: 100%;
  }
  .nav {
    display: none;
  }
  .nav_mobile {
    display: block;
    column-count: 2;
    padding: 0 clamp(2.75rem, 19vw - 3.188rem, 7.5rem) 50px;
    gap: 60px;
    & > li {
      padding-top: 8px;
    }
  }
  .link {
    font-size: 18px;
    line-height: 25px;
  }
  .text {
    padding-top: 30px;
  }

  .logo_big {
    display: block;
    width: 197px;
    height: 197px;
  }
  .logo {
    display: none;
  }
}
