@use '../../../styles/_var' as var;

.card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  width: 380px;
  background: var.$card-gradient;
  opacity: 0.8;
  border: 1px solid var.$gold;
  border-radius: 12px;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;
  }

  &__image {
    padding: 22px 30px;

    border-radius: 9.61393px;
    border: 1px solid var.$gold;
  }

  &__title {
    font-family: var.$font-michroma;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;

    display: flex;
    align-items: center;
    color: var.$gray;

    span {
      color: var.$white;
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    padding: 0;
    font-family: var.$font-montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;
    color: #fefeda;
  }

  &__price {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__numbers {
    min-width: 145px;
    font-size: 22px;
    font-weight: 500;
    line-height: 30.8px;
    span {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.buttonContainer {
  min-width: 154px;
  height: 38px;
}

.button {
  padding: 0 12px;
}

@media (max-width: 1440px) {
  .card {
    &__title {
      font-size: 28px;
      line-height: 39.2px;
      letter-spacing: 0.1em;
    }

    &__text {
      font-size: 20px;
      line-height: 28px;
    }

    &__numbers {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
    }
  }
}

@media (max-width: 760px) {
  .card {
    width: 314px;

    &__top {
      gap: 10px;
    }

    &__image {
      padding: 37.5px 14px;
      img {
        width: 226px;
        height: 226px;
      }
    }
    &__title {
      font-size: 22px;
      line-height: 22px;
    }

    &__bottom {
      gap: 10px;
    }
    &__text {
      font-size: 18px;
      line-height: 25.2px;
    }
    &__numbers {
      font-size: 18px;
      line-height: 25.2px;
    }
  }

  .buttonContainer {
    min-width: 113px;
  }
  .button {
    font-size: 16px;
  }
}

@media (max-width: 390px) {
  .card {
    width: 269px;
    padding: 20.31px 20px;

    &__image {
      padding: 47.69px 12px;
      img {
        width: 205px;
        height: 205px;
      }
    }

    &__title {
      font-size: 18px;
      line-height: 18px;
    }

    &__text {
      font-size: 16px;
      line-height: 22.4px;
    }
    &__numbers {
      min-width: 114px;
    }
  }

  .buttonContainer {
    min-width: 100px;
  }
}
