@use '../../styles/_var' as var;

.card {
    flex: 0 0 auto;
    width: 484px;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 9px 24px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: var.$font-montserrat;
    &__badges {
        display: flex;
        gap: 12px;
    }
    &__badge {
        padding: 4px 11px;
        color: var.$gray;
        font-size: 12px;
        font-weight: 400;
        line-height: 140%;
        border-radius: 5px;
        &:first-child {
            background: var.$dark-purple;
        }
        &:nth-child(2) {
            background: var.$violet;
        }
        &:last-child {
            color: var.$dark-blue;
            background: var.$gray;
        }
    }

    &__title {
        color: var.$dark-purple;
        font-size: 24px;
        font-weight: 600;
        line-height: 140%;
    }
    &__image {
        border-radius: 12px;
        background: url(/images/News/space.svg) center / cover no-repeat;
        height: 209px;
        width: 100%;
    }
    &__text {
        color: var.$dark-blue;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
    }
    &__caption {
        color: var.$purple;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.socials__wrapper {
    display: flex;
    gap: 8px;
}

.socials__link {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-size: cover;
}

.socials__icon_1 {
    background-image: url(/images/News/facebook.svg);
}

.socials__icon_2 {
    background-image: url(/images/News/instagram.svg);
}

.socials__icon_3 {
    background-image: url(/images/News/telegram.svg);
}

.socials__icon_4 {
    background-image: url(/images/News/linkedin.svg);
}

.socials__icon_5 {
    background-image: url(/images/News/twitter.svg);
}

.socials__icon_6 {
    background-image: url(/images/News/youtube.svg);
}

// @media (max-width: 1440px) {

// }

// @media (max-width: 767px) {
    
// }

// @media (max-width: 425px) {
    
// }
